<!DOCTYPE html>
<html>
    <%- include('./header.ejs') %>
    <%- include('./postloginNavbar.ejs') %>

    <body>
        <h1 class="mt-5 ml-3"><%= patient.patient_name></h1>
        <div class="container-fluid">
            
        </div>
    </body>
</html>