<nav class="navbar static-top p-3" style="background-size: contain; background-image: url(https://ak.picdn.net/shutterstock/videos/39319/thumb/1.jpg?ip=x480);" >
    <div class="container-fluid">
        <a class="navbar-brand pl-3" style="color:white; margin-top: 100px; font-family: Arial, Helvetica, sans-serif;" href="/viewDashboard"><strong>ECG Abnormality Detection</strong></a>
        <form action='/logout?_method=DELETE' method="POST">
            <button class="btn pr-5" type="submit" style="margin-top: 100px;"><img src="https://img.icons8.com/ios-filled/30/ffffff/logout-rounded-left.png"/>
            </button>
          </form>
    </div>
</nav>