<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="This page is for uplaoding patient's data" />
    <meta name="author" content="Aditya Tatipaka" />
    <title>Automated Cardiovascular Abnormality Detection on ECG</title>
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <style type="text/css">
        #spinner {
            display: none;
        }

        .loading {
            border: 2px solid rgb(137, 2, 247);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            animation: spin 1s infinite ease-in;
            margin-right: 20px;
            margin-left: 10px;
            
           
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <%- include('./postloginNavbar.ejs') %>
        <div class="container p-5 mt-5">
            <div class="card p-2 static" style="border-radius: 20px; background-color: rgb(176, 243, 131);">
                <div class=" mt-5 ml-5">
                    <div class=" ml-2 mb-5">
                        <h2 style="color: rgba(1, 36, 1, 0.884);"><Strong>Patient's Details</Strong></h2>
                    </div>
                </div>
                <form method="post">
                    <div class="ml-5">


                        <label class="ml-2 mr-2"><strong>Patinet's Name:</strong></label>
                        <input type="text " class="mb-5 pr-3 mr-5 p-3" style="border-radius: 10px;" id="name"
                            name="name" required />
                        <label class="ml-2 mr-2"><strong>Patient's Age:</strong></label>
                        <input type="number" class="mb-5 p-3 ml-4" style="border-radius: 10px;" id="age" name="age"
                            required /> <br>
                        <label class="ml-2 mr-2"><strong>Patient's Email:</strong></label>
                        <input type="email" class="mb-5 mr-5 p-3" id="email" name="email" style="border-radius: 10px;"
                            required />
                        <label class="ml-2 mr-2"><strong>Patient's Contact:</strong></label>
                        <input type="text" class="mb-5 p-3" id="contact" name="contact" style="border-radius: 10px;"
                            required /> <br>
                        <label class="ml-2 mr-5"><strong>Gender: </strong></label>
                        <select name="gender" id="gender" class=" mb-5 p-3 ml-2 mr-2"
                            style="border-radius: 10px; width: 230px;" required>
                            <option value="Male">
                                Male
                            </option>
                            <option value="Female">
                                Female
                            </option>
                            <option value="Other">
                                Other
                            </option>
                        </select>
                        
                        <label class="ml-5 mr-2"><strong>CSV File:</strong></label>
                        <input type="file" class="mb-5 p-3 ml-4" style="border-radius: 10px;" id="inputFile"
                            name="inputFile" required /><br>
                        
                        <label class="ml-2 mr-5"><strong>Date: &nbsp;&nbsp;&nbsp;&nbsp;</strong></label>
                        <input type="date" class="mb-5 p-3  mr-5" id="date" name="date"
                            style="border-radius: 10px; width: 240px;">
                            <div id="spinner" class="loading btn ml-2 mr-2" ></div>
                        <div class="d-flex justify-content-center">
                            
                            <button type="submit" class="btn btn-primary  btn-lg" id="sub"
                                onclick='this.form.submit();spinning(); this.disabled= true; this.hidden = true'>
                                Upload Data
                            </button>

                        </div>


                    </div>
                    
                </form>


            </div>
        </div>
</body>
<script type="text/javascript">
    function spinning() {
        document.getElementById("spinner").style.display = "block";
        document.getElementById("spinner").style.float = "right";
        
    }
</script>

</html>