<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="This page is for uplaoding patient's data" />
    <meta name="author" content="Aditya Tatipaka" />
    <title>Automated Cardiovascular Abnormality Detection on ECG</title>
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <style type="text/css">
        #spinner {
            display: none;
        }

        .loading {
            border: 2px solid rgb(137, 2, 247);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            animation: spin 1s infinite ease-in;
            margin-right: 20px;
            margin-left: 10px;
            
           
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <%- include('./postloginNavbar.ejs') %>
        <div class="container p-5 mt-5">
            <div class="card mt-5 static" style="border-radius: 20px; background-color: rgb(176, 243, 131); width:1300px; height:900px">
                <div class=" mt-5 ml-5">
                    <div class=" ml-2 mb-5">
                        <h2 style="color: rgba(1, 36, 1, 0.884);"><h1>Patient's Details</h1></h2>
                    </div>
                </div>
                <form  action="/upload" method="POST"  enctype="multipart/form-data" data-toggle="validator">
                    <div class="ml-5">


                        <label class="ml-2 mr-2"><h3>Patient's Name:</h3></label>
                        <input type="text " class="mb-5 pr-3 mr-5 p-3" style="border-radius: 10px; width:350px" id="name"
                            name="name" required />
                        <label class="ml-2 mr-2"><h3>Patient's Age:</h3></label>
                        <input type="number" class="mb-5 p-3 ml-4" style="border-radius: 10px; width:350px" id="age" name="age"
                            required /> <br>
                        <label class="ml-2 mr-2"><h3>Patient's Email:</h3></label>
                        <input type="email" class="mb-5 mr-5 p-3" id="email" name="email" style="border-radius: 10px; width:350px"
                            required />
                        <label class="ml-2 mr-2 mt-5"><h3>Patient's Contact:</h3></label>
                        <input type="text" class="mb-5 p-3" id="contact" name="contact" style="border-radius: 10px;width:350px" 
                            required /> <br>
                        <label class="ml-2 mr-5 mt-5"><h3>Gender: </h3></label>
                        <select name="gender" id="gender" class=" mb-5 p-3 ml-2 mr-2"
                            style="border-radius: 10px; width: 350px;" required>
                            <option value="Male">
                                Male
                            </option>
                            <option value="Female">
                                Female
                            </option>
                            <option value="Other">
                                Other
                            </option>
                        </select>
                        
                        <label class=" mr-2" style="margin-left:90px"><h3>CSV File:</h3></label>
                        <input type="file" class="mb-5 p-3 ml-4" style="border-radius: 10px; width:350px" id="file" 
                            name="file" required /><br>
                        
                        <label class="ml-2 mr-5 mt-5"><h3>Date: &nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
                        <input type="date" class="mb-5 p-3  mr-5" id="date" name="date"
                            style="border-radius: 10px; width: 350px;">
                            <div id="spinner" class="loading btn ml-2 mr-2" ></div>
                        <label class="ml-2 mr-2"><h3>Sampling Frequerncy:</h3></label>
                        <input type="number" class="mb-5 p-3" id="sampling_frequency" name="sampling_frequency" style="border-radius: 10px;width:350px"
                                required /> <br>
                        <div class="d-flex justify-content-center">
                            
                            <button type="submit" class="btn btn-primary  btn-lg mt-5" id="sub" style="font-size: 30px;"
                                onclick='this.form.submit();spinning(); this.disabled= true; this.hidden = true'>
                                Upload Data
                            </button>

                        </div>


                    </div>
                    
                </form>


            </div>
        </div>
</body>
<script type="text/javascript">
    function spinning() {
        document.getElementById("spinner").style.display = "block";
        document.getElementById("spinner").style.float = "right";
        
    }
</script>

</html>